<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769709401140-mcsgdj7s1jouac2r3640kj831j9kig7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769709401140-mcsgdj7s1jouac2r3640kj831j9kig7l</string>
	<key>API_KEY</key>
	<string>AIzaSyDhIkpfqLHkR5NUGUtxSstfKlRBBtDq9Ig</string>
	<key>GCM_SENDER_ID</key>
	<string>769709401140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rasha-D</string>
	<key>PROJECT_ID</key>
	<string>rasha-d</string>
	<key>STORAGE_BUCKET</key>
	<string>rasha-d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769709401140:ios:e1a26c40a3d73fe596d661</string>
</dict>
</plist>